*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container{
    border: 1px solid green;
    background-color: pink;
    display: grid;
    height: 100vh;
    /* grid-template-columns: 1fr 1fr 1fr 2fr; */
    /* grid-template-columns: 200px 400px 200px 2fr; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2 300px;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
}
.grid-element{
    border: 1px solid red;
    background-color: rgb(99, 99, 39);
    width: 200px;
    height: 200px;
    color: #000;
}
.container{
    display: grid;
    height: 300px;
    justify-items: center;
    align-items: center;
}
.box{
    height: 200px;
    width: 300px;
    border: 1px solid violet;
}